{% extends "base.html" %}

{% block title %}{{ juego.nombre_juego }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='torneo.css') }}">
{% endblock %}

{% block content %}


<script>
    window.userId = {{ usuario_id | default('null') }};
    window.usuarioLogueado = {{ 'true' if usuario_logueado else 'false' }};
</script>

<div id="modalLoginTorneo" class="modal-login oculto">
    <div class="modal-login-contenido">
        <h3>Acceso restringido</h3>
        <p>Debes iniciar sesión o registrarte para participar en un torneo.</p>
        <div class="modal-login-botones">
            <button onclick="window.location.href='/formusuario'" class="btn-register-modal">
                Registrarse
            </button>
            <button onclick="cerrarModalLogin()" class="btn-cerrar-modal">
                Cerrar
            </button>
        </div>
    </div>
</div>

<div class="crear-torneo-barra">
    <div class="card">
        <h2 style="text-align:center;">Crear Torneos</h2>
        <div class="btn-torneos">
            <button class="btn-crear-torneo-unico"
                onclick="if(!window.usuarioLogueado){ abrirModalLoginCrearTorneo(); } else { window.location.href='/crear_torneo?juego={{ juego.id_juego }}'; }">
                Crear torneo {% if not nombre_usuario %} 🔒 {% endif %}
            </button>
        </div>
    </div>
</div>

<div class="pagina-juego">

    <!-- IZQUIERDA -->
    <div class="columna izquierda">

        <div class="card">
            <h2 style="text-align:center;">Torneos activos</h2>
            <div id="listaTorneosActivos" data-juego="{{ juego.id_juego }}"></div>
        </div>

        <div class="card">
            <h2 style="text-align:center;">Torneos finalizados</h2>
            <div id="listaTorneosFinalizados"></div>
        </div>

    </div>

    <!-- DERECHA -->
    <div class="columna derecha">

        <div class="card ranking-grande">
            <h2>Ranking {{ juego.nombre_juego }}</h2>

            <div id="rankingJuego"
                 data-juego="{{ juego.id_juego }}"
                 data-es-equipo="{{ 'true' if juego.es_equipo else 'false' }}"></div>
        </div>

        <div class="card">
            <h2>{% if juego.es_equipo %}Equipos activos{% else %}Jugadores activos{% endif %}</h2>

            <div class="usuarios-lista" id="jugadoresActivos"
                 data-juego="{{ juego.id_juego }}"
                 data-es-equipo="{{ 'true' if juego.es_equipo else 'false' }}">
            </div>
        </div>
    </div>

</div>

{% endblock %}